In [287]:
library("dplyr")

# IBM

In [288]:
IBM <- read.csv("IBM (3).csv")
head(IBM)

  Date       Open     High     Low      Close    Adj.Close Volume
1 2018-01-02 147.7056 148.0019 146.7878 147.4665 121.7915  4395815
2 2018-01-03 150.4207 152.7820 149.4551 151.5201 125.1393  9875914
3 2018-01-04 152.6291 155.1816 152.3614 154.5889 127.6738  7903785
4 2018-01-05 155.2964 155.7361 154.0153 155.3442 128.2976  5434807
5 2018-01-08 155.5067 156.7017 154.5889 156.2811 129.0714  5478425
6 2018-01-09 156.6922 157.2944 155.8891 156.6252 129.3556  4541523

In [290]:
x=select(IBM, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 1.00),]
y <- select(y,Date , Dividend)[2:5,]
y

    Date       Dividend
27  2018-02-08 1.332663
89  2018-05-09 1.509362
153 2018-08-09 1.473684
217 2018-11-08 1.484723

# MSFT

In [289]:
MSFT <- read.csv("MSFT.csv")
head(MSFT)

  Date       Open  High  Low   Close Adj.Close Volume
1 2018-01-02 86.13 86.31 85.50 85.95 81.84829  22483800
2 2018-01-03 86.06 86.51 85.97 86.35 82.22920  26061400
3 2018-01-04 86.59 87.66 86.57 87.11 82.95293  21912000
4 2018-01-05 87.66 88.41 87.43 88.19 83.98138  23407100
5 2018-01-08 88.20 88.58 87.60 88.28 84.06710  22113000
6 2018-01-09 88.65 88.73 87.86 88.22 84.00996  19484300

In [295]:
x=select(MSFT, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 0.04),]
y <- select(y,Date , Dividend)[2:5,]
y

    Date       Dividend
31  2018-02-14 0.4312292
94  2018-05-16 0.4203643
157 2018-08-15 0.4071340
221 2018-11-14 0.4451342

# GOOG

In [296]:
GOOG <- read.csv("GOOG.csv")
head(GOOG)

  Date       Open    High    Low      Close   Adj.Close Volume
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500

In [297]:
x=select(GOOG, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 0.04),]
y <- select(y,Date , Dividend)[2:5,]
y

     Date Dividend
NA   NA   NA
NA.1 NA   NA
NA.2 NA   NA
NA.3 NA   NA

No dividend in GOOGLE for 2018

# FB

In [298]:
FB <- read.csv("FB.csv")
head(FB)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100

In [299]:
x=select(FB, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 0.04),]
y <- select(y,Date , Dividend)[2:5,]
y

     Date Dividend
NA   NA   NA
NA.1 NA   NA
NA.2 NA   NA
NA.3 NA   NA

No dividend in FB for 2018

# AAPL

In [300]:
AAPL <- read.csv("AAPL.csv")
head(AAPL)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.24827  102223600
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.24109  118071600
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.43266   89738400
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 41.90438   94640000
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 41.74874   82271200
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 41.74395   86336000

In [305]:
x=select(AAPL, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 0.1),]
y <- select(y,Date , Dividend)[2:5,]
y

    Date       Dividend
28  2018-02-09 0.1607166
91  2018-05-11 0.1804198
154 2018-08-10 0.1807785
217 2018-11-08 0.1805970

# AMZN

In [306]:
AMZN <- read.csv("AMZN.csv")
head(AMZN)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300

In [308]:
x=select(AMZN, Date, Close, Adj.Close)
x$ratio_close = x$Close/lag(x$Close,1)
x$ratio_adj = x$Adj.Close/lag(x$Adj.Close,1)
x$Dividend <- (x$ratio_adj - x$ratio_close)*x$Close
y <- x[(x$Dividend > 0.1),]
y <- select(y,Date , Dividend)[2:5,]
y

     Date Dividend
NA   NA   NA
NA.1 NA   NA
NA.2 NA   NA
NA.3 NA   NA

No dividend in AMZN for 2018